<div class="list offset">
	<div class="card round">
	  <label class="item item-input item-stacked-label center">
	    <span class="label center">Parte del auto</span><br>
	    <input type="" ng-model="currentObservation.part" placeholder="" required>
	  </label>
	</div>
	<div class="card round">
	  <label class="item item-input item-stacked-label center">
	    <span class="label">Observación</span><br>
	    <input type="" ng-model="currentObservation.description" placeholder="" required>
	  </label>	  
	</div>
</div>
