# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

.idea/
node_modules/
platforms/
plugins/
www/lib/
coverage/
resources/
.DS_Store
bower_components/
npm-debug.log
www/app/envSettings.js
