<link href="styles/IntExtTrunk.css" rel="stylesheet">
  <ion-nav-bar align-title="center" class ="bar-light">
    <ion-nav-title has-header="true">
      <img src='assets/images/budget_logo.png' height='35' class="budget-logo-bar"></img>
    </ion-nav-title>
  </ion-nav-bar>
  <div class ="body-wrapper" style="padding-bottom:275px">
    <p>Partes de la cajuela</p>
    <div class="checkboxes-wrapper">
      <span ng-repeat="opcion in opciones">
        <input type="checkbox" ng-model="selection.ids[opcion.id]" name="group" id="{{opcion.id}}"> <label class="checkbox" for="{{opcion.id}}"> {{opcion.name}}</label><br>
      </span>
    </div>
    <div class="arrow-wrapper" style="margin-top:116px">
      <img src="assets/images/arrow.png" class="arrow" ui-sref="carExterior">
    </div>
  </div>


