.car-info-body{
  background-color: #E9A042;
  height: 100%;
  overflow:auto
}

.car-info-tb{
  border-spacing: 2em;
  margin-top: 33%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: inherit;
}

.car-info-tr{
  text-align: center;
  padding: 5%;
}

.car-info-tdata{
  vertical-align: middle;
  background-color: white;
  width: 7em;
  height: 5em;
  border-radius: 1em;
  font-size: 1.2em;
  padding-top: 2%;
}

@media only screen 
and (min-width: 650px) {

  .car-info-tdata{
    width: 4em;
    height: 5em;
  }

  .car-info-tb{
    margin-top: 10%;
  }

  .content-wrapper{
    margin-top: 8% !important;
  }

  .arrow{
    margin-top: -8%;
    height: 15%;
    width: 10%;
    margin-right: auto;
    margin-left: auto;
  }

  .arrow-wrapper{
    width: 100%;
    margin-top: 0%;
  }
}

.content-wrapper{
  margin-top: 30%;
}

.platform-android .bar .title {
  height: 100%;
  width: 100%;
}

.car-info-spinner{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50%;
}

.spinner svg {
  width: 20em;
  height: 20em;
  stroke: #E9A042;
  fill: #E9A042;
  display: table;
  margin: 0 auto;
}
