.container-principal {
  margin-top: 50%;
}

.select-places {
  width: 75%;
  margin: 0 auto;
  position: relative;
  display: table;
  border-width: 5px;
  border-radius: 10px;
  font-size: 2em;
  background-color: rgba(204, 204, 204, 0);
  border-color: white;
  color: white;
  font-weight: bold;
}

option:not(:checked) { 
  background-color: #E9A042; 
}

.container-mileage {
  top: 5em;
  margin: 0 auto;
  border-radius: 15px;
  display: table;
  font-size: 0.5em;
  border: 5px hsla(0, 100%, 2%, 0);
  background-color: white;
}

.button-revision-car {
  width: 20em;
  border-radius: 3em;
  size: 5em;
}

.input-label {
  margin: 0 auto;
  color: #0019E6;
  font-weight: bold;
}

.input-text {
  text-align: center;
  color: #1B1B1B !important;
}

.gas-status-container{
  width: 100%;
  margin-top: 5em;
  text-align: center;
  color: white;
}

.gas-label{
  font-size: 2em;
  font-weight: bold;
}

.select-gas {
  border-radius: 0.5em;  
  color: white;
  width: 8em;
  margin: 0 auto;
  display: table;
  font-size: 2em;
  color: white;
  font-weight: bold;
  border-color: white;
  border: 0.2em solid #ffffff;
  background-color: rgb(231,160,65);
}

@media only screen 
and (min-width :650px) {
  .container-principal {
    margin-top: 40%;
  }
}

@media only screen 
and (min-width :850px) {
  .container-principal {
    margin-top: 10%;
  }
}
