.container-principal {
  margin-top: 50%;
}

.select-places {
  width: 75%;
  margin: 0 auto;
  position: relative;
  display: table;
  border-width: 5px;
  border-radius: 10px;
  font-size: 2em;
  background-color: rgba(204, 204, 204, 0);
  border-color: white;
  color: white;
  font-weight: bold;
}

option:not(:checked) { 
  background-color: #E9A042; 
}

.container-mileage {
  top: 5em;
  margin: 0 auto;
  border-width: 5px;
  border-radius: 15px;
  display: table;
  font-size: 1em;
  border-color: hsla(0,100%,2%,0);
  background-color: white;
}

.container-gasoline-bar {
  top: 5em;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  color: white;
  border-color: rgba(204, 204, 204, 0);
  background-color: rgba(204, 204, 204, 0);
}

.background-gasoline-range-bar {
  border-color: white;
  border-width: 10px;
  border-radius: 15px;
  border-style: inherit;
  background-color: rgba(204, 204, 204, 0);
  background: rgba(204, 204, 204, 0);
}

.range input {
  border-width: 3em;
  height: 2em;
  overflow: hidden;
  background-size: 100% 1.5em;
  background-color: rgba(204, 204, 204, 0);
  background: rgba(204, 204, 204, 0);
}

.button-revision-car {
  margin-top: 6em;
  width: 20em;
  border-radius: 3em;
  size: 5em;
}

.input-label {
  margin: 0 auto;
  color: #0019E6;
  font-weight: bold;
}

.input-text {
  text-align: center;
  color: #1B1B1B !important;
}

@media only screen 
and (min-width :650px) {
  .container-principal {
    margin-top: 40%;
  }
}

@media only screen 
and (min-width :850px) {
  .container-principal {
    margin-top: 10%;
  }
}
