.exterior-title {
  text-align: center;
  color: rgb(24,20,87);
  font-weight: bold;
  padding-top: 30px;
}

.checkboxes-wrapper input{
  margin-bottom: 20px;
  background-color: black;
  color:white;
}

.emblems {
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;  
  color: white;  
  font-weight: bold;
  width: 20%;
  display:table;
}

.emblems-wrapper {
  float: left;
}

.plate-wrapper {
  float: right;
}

.select-emblems {
  border-radius: 0.5em;  
  color: white;
  width: 2.5em;
  border: 2px solid #ffffff;
  background-color: rgb(231,160,65);
}

.input-plate {
  width: 2em;
  height: 2em;
  text-align: center;
  color: black !important;
  border-radius: 2em;
  margin-right: 3em;
}

.arrow-wrapper-exterior {
  margin-top: 5%;
}

.arrow-exterior-style {
  width: 6em;
  height: 6em;
}
