.car-info-body {
  background-color: #E9A042;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.carinfo-title{
  margin: 0 auto;
  font-weight: bold;
  font-size: 2em;
  color: white;
  display: table;
}

.car-info-tr {
  text-align: center;
  padding: 2em !important;
  width: 90%;
  margin: 0 auto;
}

.car-info-tdata {
  vertical-align: middle;
  background-color: white;
  height: 5em;
  border-radius: 1em;
  font-size: 1.5em;
  padding-top: 1.5em !important;  
}

.right-textbox {
  float: right;
}

.left-textbox {
  float: left;
  margin-right: 5em;
}

.btn-continue-carInfo{
  width: 80%;
  height: 3em;
  margin: 0 auto;
  display: block;
  margin-top: 5%;
  border-radius: 0.5em;
  background-color: #F1592A;
  font-size: 1.5em;   
}

@media only screen
and (min-width: 650px) {

  .car-info-tdata {
    width: 4em;
    height: 5em;
  }

  .content-wrapper {
    margin-top: 8em !important;
    overflow-y: auto;
  }

  .btn-continue-carInfo{
    margin-top: 0 !important;
    margin-bottom: 1em;
  }

  .car-info-tr{
    width: 80% !important;
  }
}

.content-wrapper {
  margin-top: 30%;
}

.platform-android .bar .title {
  height: 100%;
  width: 100%;
}

.car-info-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.spinner svg {
  width: 20em !important;
  height: 20em !important;
  stroke: #E9A042;
  fill: #E9A042;
  display: table;
  margin: 0 auto;
}

.arrow-wrapper-carinfo {
  margin-top: 5%;
}

.arrow-carinfo-style {
  width: 6em;
  height: 6em;
}
