.car-info-wrapper{
  height: 100%;
  position: absolute;
  width: 100%;
}

.spinner svg{
  width: 100% !important;
  height: 100% !important;
}

.car-info-spinner{
  stroke: #0c60ee !important;
  fill: #0c60ee !important;
}

#subheader{
	font-weight: bold;
}
