.interior-title {
  text-align: center;
  color: rgb(24, 20, 87);
  font-weight: bold;
  padding-top: 30px;
}

.arrow-wrapper-interior {
  margin-top: 5%;
}

.arrow-interior-style {
  width: 6em;
  height: 6em;
}
