.page-title{
  text-align: center;
  padding-top: 2em;
  font-size: 3em;
  padding-bottom: 1em;
  color: white;
  font-weight: bold;
}

.checkboxes-wrapper{
  padding-top: 3em;
  width: 80%;
  height: 60%;
  padding-bottom: 5em;
}

#left-column{
  float: left;
  height: 100%;
  width: 50%;
}

#right-column{
  float: right;
  height: 100%;
  width: 42%;
}

.checkbox-item{
  font-size: 1.2em;
  margin-top: 2em;
}

.checkbox-label{
  top: -0.6em;
  left: 1em;
  position: relative;
  font-size: 1.2em;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #FF5907;
}

input[type='checkbox']:checked {
    background: #FF5907;
}

.button-container{
  clear: both;
  text-align: center;
}

.btn-carParts{
  width: 80%;
  background-color: #FF5907;
  color: white;
  font-weight: bold;
  height: 3em;
  font-size: 1.5em;
  border-radius: 0.5em;
}

.button:hover{
  background-color: rgb(245,123,32);
  color: white;
}

@media only screen
and (max-width :450px){
  .page-title{
    font-size: 2em;
  }

  .checkboxes-wrapper{
    padding: 0;
  }

  .checkbox-label{
    font-size: 1em;
  }


  #left-column{
    margin: 0 auto;
    display: table;
    width: 50%;
    float: none;
  }

  #right-column{
    margin: 0 auto;
    display: table;
    width: 50%;
    float: none;
  }

}
