.wrapper-add-observation {
  text-align: center;
}

.body-car-view {
  background-color: #E9A042;
  height: 110%;
  overflow-y: auto;
}

.popup-head {
  border-bottom: none;
}

.list {
  height: 100%;
}

.popup-body {
  height: 68%;
 }

.observations-wrapper{
  width: 32%;
  display: block;
  float: right;
  height: 85%;
  margin-top: 2em;
}

.item {
  border-width: 0px;
  margin: 0px;
}

.pad{
  width: 90%;
  overflow-y: auto !important;
  position: fixed;
  margin-left: 2%;
  position: relative;
  background: rgba(255,255,255, 0.3);
  height: 100%;
  overflow-y: auto;
}

.btn-continue{
  width: 80%;
  height: 3em;
  margin: 0 auto;
  display: block;
  margin-top: 5%;
  border-radius: 0.5em;
  background-color: #F1592A;
  font-size: 1.5em;
}

.canvas4x2{
	background: url('../assets/images/canvasCar4x2.png')  no-repeat center;
  background-size: 100%;
}

.canvas4x4{
  background: url('../assets/images/canvasCar4x4.png')  no-repeat center;
  background-size: 100%;
}

.carview-wrapper{
  margin-top: 5em;
  height: 70%;
  width: 100%;
}

.canvas-wrapper{
  height: 71%;
  width: 68%;
  position: absolute;
}

.image-container{
  width: 100%;
  height: 100%;
}

.buttonObs {
  background-color: #1C2D5D !important;
  font-weight: bold;
  color: white !important;
  width: 80%;
  height: 3em;
  border-radius: 0.5em !important;
  font-size: 1.5em !important;
  margin: 0em auto !important;
  display: table !important;
}

.btn-continue-wrraper {
  width: 100%;
  margin-top: -8%;
}

.observation-wrapper {
  height: 33%;
}

.marginTops {
  margin-bottom: 10%
}

canvas[resize] {
  width: 100%;
  height: 100%;
}

.logo {
  margin-top: 8px;
  height: 27px;
}

.popup.popup-container .popup {
  width: 80%;
  height: 60%;
  background-color: rgba(233, 160, 66, 0.5);
  opacity: 0.6;
}

.round {
  margin-left: 15%;
  text-align: center;
  border-radius: 12px;
  height: 40%;
  width: 95%;
}

.buttonpopOK {
  background-color: #1d2e57 !important;
  text-align: center;
  border-radius: 12px;
  margin-left: 1%;
  margin-right: 21% !important;
}

.buttonpopCanc {
  background-color: #F1592A !important;
  text-align: center;
  border-radius: 12px;
  margin-right: 1% !important;
  margin-left: 21%;
}

.popup-buttons .button {
  height: 60pt;
  border-radius: 12px !important;
  font: bold;
  color: white;
  width: 70%;
  margin-left: 16%;
}

.btn-carview-continue {
  width: 80%;
  height: 3em;
  margin: 0 auto;
  display: block;
  margin-top: 5% !important;
  border-radius: 0.5em;
  background-color: #F1592A;
  font-size: 1.5em;
}
@media only screen and (min-width: 850px){
  .pad{
    margin-top: 25%;
  }
}

@media only screen
and (min-device-height: 1500px) {
  .canvas-wrapper {
    margin-top: 5em;
  }
}
