.range-bar-value{
  position: absolute;
  right: 50%;
  top: 60%; 
}

.translate-button-active{
  background-color: #1C2D5D !important;
  color: white !important;
}

.feedback-form{
  height: 88%;
  overflow-y: scroll;
}
