.budget-logo-bar{  
  background-color: white;
}

.title{
  padding-bottom: 10px;
}

.body-wrapper{
  background-color: rgb(231,160,65);
  padding-bottom: 160px;
  padding-top:20px;
  overflow: auto;
  height: 100%;
}

p{
  margin:55px 0px;
  text-align: center;
  color: rgb(24,20,87);
  font-weight: bold;
  padding-top: 30px;
}

.checkboxes-wrapper{
  margin: 0 auto;
  display: table;
  color: white;
}

.checkboxes-wrapper input{
  margin-bottom: 20px;
  background-color: black;
  color:white;
}

.text-input{
  text-align: center;    
}

select{
  border-radius: 20px;  
  border:2px solid #ffffff;
  background-color:rgb(231,160,65);
}

.text-input #plate{
  border-radius: 25px;
  display: inline-block;
  width: 80px;
  border:2px solid;
  background-color: rgb(231,160,65)
}

.text-input #plate-label{
  color:white;
}

.arrow-wrapper{
  max-width:230px;
  max-height:95px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 10px;
}

#arrow-trunk{
  margin-top:116px;
}

