.budget-logo{
  width: 92%;
  margin: auto;
  padding: 23px;
  margin-top: 40%;
  margin-left: 4%;
  margin-right: 50%;
}

.background-initial-page{
  background-image: url("../assets/images/background.png"); 
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow:scroll;
  overflow-x: hidden; 
}

.user-information-box{
  margin-left: 15%;
  margin-right: 20%;
  border-width: 5px;
  border-style: inset;
  border-color: rgba(204, 204, 204, 0) rgba(204, 204, 204, 0) #FF5907 rgba(204, 204, 204, 0);
  background-color: rgba(204, 204, 204, 0);
  color: #444;
  font-size: 1em;
}

input[type="text"], input[type="password"]{
  font-size: 1em;
}
.input-label{
  color: white;
  font-size: 1em;
  font-weight: bold;
}

a{
  color: white;
  font-size: 1em;
}

.control-group{
  min-height: 80%;
  min-width: 100%;
  width: 100%;
}

@media only screen 
and (min-width :650px) {
  .budget-logo{
    margin-top: 50%;
  }

  .user-information-box{
    font-size: 2em;
  }

  a{
    font-size: 2em;
  }
}

@media only screen 
and (min-width :850px) {
  .budget-logo{
    margin-top: 10%;
  }
}


@media only screen 
and (max-height :1440px) {
  .budget-logo{
    margin-top: 25%;
  }
}



