.scanner-error-body {
  background: #1A2F59;
  text-align: center;
  height: 100%;
  padding-top: 20% !important;
  width: 100%;
}

.showMVAPopUp-button{
  background-color: #F78B00 !important;
}

.scanner-error-text{
  color: white;
}
