<ion-view id="login">
  <ion-content>
    <div class="content has-header padding login-content">
      <img src="assets/images/centriz-logo.png" class="budget-logo"/>
      <form name="loginForm">
        <div class="list list-inset login-wrapper">
          <label class="item item-input">
            <i class="icon ion-person placeholder-icon"></i>
            <input type="text" placeholder="Usuario" ng-model="vm.username" required />
          </label>
          <label class="item item-input">
            <i class="icon ion-key placeholder-icon"></i>
            <input type="password" placeholder="Contraseña" ng-model="vm.password" required/>
          </label>
          <br/>
          <div align="center">
            <button class="button button-block button-positive" type="submit" ng-click="vm.authenticate(vm.username)" ng-disabled="loginForm.$invalid"> Login </button>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
