<ion-view view-title="Entrega de vehículo">
  <ion-content>
    <div class="has-header">
      <div class="list list-inset">
        <label class="item item-input item-select">
          <div class="input-label ion-home">
            Entrega
          </div>
          <select class="item-energized" ng-options="option.name for option in vm.deliveryPlaces track by option.id" ng-model="vm.deliveryInfo.deliveryPlaceSelected">
          </select>
        </label>
        <label class="item item-input">
          <i class="icon ion-model-s placeholder-icon"></i>
          <input type="number" placeholder="Kilometraje" class="input-km" ng-model="vm.km" min="0" required>
          <span class="span-km">km</span>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Gasolina
          </div>
          <select ng-options="option.name for option in vm.gasLevels track by option.id" ng-model="vm.deliveryInfo.gasLevelSelected">
          </select>
        </label>
        <button class="budget-orange-button button button-block button-assertive" ng-click="vm.goToTireRevision()"> Pasar a Revisión del Llantas </button>
      </div>
    </div>
  </ion-content>
</ion-view>
