<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Budget Rent a Car</title>

    <link href="lib/ionic/css/ionic.min.css" rel="stylesheet">

    <!-- inject:css -->
    <link rel="stylesheet" href="styles/carDeliveryInfo.css">
    <link rel="stylesheet" href="styles/carInfo.css">
    <link rel="stylesheet" href="styles/carParts.css">
    <link rel="stylesheet" href="styles/carView.css">
    <link rel="stylesheet" href="styles/content.css">
    <link rel="stylesheet" href="styles/extraParts.css">
    <link rel="stylesheet" href="styles/feedback.css">
    <link rel="stylesheet" href="styles/ionic.app.min.css">
    <link rel="stylesheet" href="styles/login.css">
    <link rel="stylesheet" href="styles/observations.css">
    <link rel="stylesheet" href="styles/scanner-menu.css">
    <link rel="stylesheet" href="styles/scanner.error.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/tireRevision.css">
    <!-- endinject -->

    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <script src="lib/bluebird.min.js"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic.cloud.min.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- Firebase -->
    <script src="lib/firebase/firebase.js"></script>

    <!-- AngularFire -->
    <script src="lib/angularfire/dist/angularfire.min.js"></script>

    <!--Paper Lib -->
    <script src="lib/paper/dist/paper-full.js"></script>

    <!-- Translate Lib -->
    <script src="lib/angular-translate/angular-translate.js"></script>

    <!-- inject:js -->
    <script src="app/app.module.js"></script>
    <script src="app/carDeliveryInfo/carDeliveryInfo.module.js"></script>
    <script src="app/carInfo/carInfo.module.js"></script>
    <script src="app/carParts/carParts.module.js"></script>
    <script src="app/carView/carView.module.js"></script>
    <script src="app/content/content.module.js"></script>
    <script src="app/feedback/feedback.module.js"></script>
    <script src="app/login/login.module.js"></script>
    <script src="app/scanner-error/scanner.error.module.js"></script>
    <script src="app/scanner-menu/scannerMenu.module.js"></script>
    <script src="app/observations/observations.module.js"></script>
    <script src="app/services/services.module.js"></script>
    <script src="app/tireRevision/tireRevision.module.js"></script>
    <script src="app/app.config.js"></script>
    <script src="app/app.constants.js"></script>
    <script src="app/app.routes.js"></script>
    <script src="app/app.run.js"></script>
    <script src="app/carDeliveryInfo/carDeliveryInfo.constants.js"></script>
    <script src="app/carDeliveryInfo/carDeliveryInfo.controller.js"></script>
    <script src="app/carDeliveryInfo/carDeliveryInfo.routes.js"></script>
    <script src="app/carDeliveryInfo/carDeliveryInfo.service.js"></script>
    <script src="app/carInfo/carInfo.controller.js"></script>
    <script src="app/carInfo/carInfo.routes.js"></script>
    <script src="app/carInfo/carInfo.service.js"></script>
    <script src="app/carParts/carParts.constants.js"></script>
    <script src="app/carParts/carParts.controller.js"></script>
    <script src="app/carParts/carParts.routes.js"></script>
    <script src="app/carParts/carParts.service.js"></script>
    <script src="app/carView/carView.constants.js"></script>
    <script src="app/carView/carView.controller.js"></script>
    <script src="app/carView/carView.routes.js"></script>
    <script src="app/carView/carView.service.js"></script>
    <script src="app/content/content.controller.js"></script>
    <script src="app/content/content.routes.js"></script>
    <script src="app/feedback/feedback.controller.js"></script>
    <script src="app/feedback/feedback.routes.js"></script>
    <script src="app/feedback/feedback.service.js"></script>
    <script src="app/login/login.controller.js"></script>
    <script src="app/login/login.service.js"></script>
    <script src="app/scanner-error/scanner.error.controller.js"></script>
    <script src="app/scanner-error/scanner.error.routes.js"></script>
    <script src="app/scanner-menu/scannerMenu.controller.js"></script>
    <script src="app/scanner-menu/scannerMenu.routes.js"></script>
    <script src="app/observations/observations.controller.js"></script>
    <script src="app/observations/observations.service.js"></script>
    <script src="app/services/firebase.revision.service.js"></script>
    <script src="app/services/last.revision.service.js"></script>
    <script src="app/services/revision.service.js"></script>
    <script src="app/services/scanner.service.js"></script>
    <script src="app/services/session.service.js"></script>
    <script src="app/services/update-manager.service.js"></script>
    <script src="app/tireRevision/tireRevision.constants.js"></script>
    <script src="app/tireRevision/tireRevision.controller.js"></script>
    <script src="app/tireRevision/tireRevision.routes.js"></script>
    <script src="app/tireRevision/tireRevision.service.js"></script>
    <script src="app/carView/canvas/canvas.controller.js"></script>
    <script src="app/directives/input-mva/input-mva.controller.js"></script>
    <script src="app/directives/input-mva/input-mva.directive.js"></script>
    <!-- endinject -->
  </head>

  <body ng-app="budgetrentacar">
    <div ng-controller="ObservationsCtrl as vm">
      <ion-nav-bar class="bar header-bar bar-assertive">
          <ion-nav-back-button>
          </ion-nav-back-button>
        <ion-nav-buttons side="right">
          <button class="button button-small button-clear icon ion-compose" ng-click="vm.showObservationsModal()" ng-if="vm.shouldShowObservationsButton()">
          </button>
        </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view></ion-nav-view>
    </div>
  </body>
</html>
