<ion-nav-bar align-title="center" class ="bar-light">
  <ion-nav-title has-header="true">
    <img src='assets/images/budget_logo.png' height='35' class="budget-logo-bar"></img>
  </ion-nav-title>
</ion-nav-bar>
<div class ="body-wrapper">
  <h2 class="exterior-title">Partes del interior</h2>
    <div class = "checkboxes-wrapper">
      <label ng-repeat="accesory in vm.accesories">
        <input type="checkbox" ng-model="vm.taken.ids[accesory.id]" name="group" id="{{accesory.id}}">
        <label class="checkbox" for="{{accesory.id}}">
          {{accesory.name}}
        </label><br>
      </label>
    </div>

  <div class="arrow-wrapper-interior">
    <img src="assets/images/arrow.png" class="arrow arrow-interior-style" ui-sref="carTrunk">
  </div>
</div>
