<ion-nav-bar align-title="center">
 <ion-nav-title>
   <img src='assets/images/budget_logo.png' height='35' class="budget-logo-bar"></img>
 </ion-nav-title>
</ion-nav-bar>

<div class="car-info-body" ng-if="vm.isLoaded">
  <div class="content-wrapper">
    <div class="row car-info-tr">
      <div class="col car-info-tdata left-textbox"> <b>MVA:</b> <br> {{vm.carInformation.MVA}}</div>
      <div class="col car-info-tdata right-textbox"> <b>Marca:</b> <br> {{vm.carInformation.brand}}</div>    
    </div>
    <div class="row car-info-tr">
      <div class="col car-info-tdata left-textbox"> <b>Modelo:</b> <br> {{vm.carInformation.model}}</div>
      <div class="col car-info-tdata right-textbox"> <b>Color:</b> <br> {{vm.carInformation.color}}</div>    
    </div>
    <div class="row car-info-tr">
      <div class="col car-info-tdata left-textbox"> <b>Año:</b> <br> {{vm.carInformation.year}}</div>
      <div class="col car-info-tdata right-textbox"> <b>PSC:</b> <br> {{vm.carInformation.PSC}}</div>    
    </div>
    <div class="row car-info-tr">
      <div class="col car-info-tdata"> <b>Número de placa:</b> <br> {{vm.carInformation.plate_number}}</div>
    </div>
  </div>
    <button class="button-primary btn-continue" type="submit" ng-click="vm.goToCarView()"> Continuar </button>
</div>
<div class="car-info-spinner background-car" ng-if="!vm.isLoaded">
  <ion-spinner icon="ripple"></ion-spinner>
</div>
