<ion-nav-bar align-title="center">
 <ion-nav-title>
   <img src='assets/images/budget_logo.png' height='35' class="budget-logo-bar"></img>
 </ion-nav-title>
</ion-nav-bar>

<div class="car-info-body" ng-if="vm.isLoaded">
  <div class="content-wrapper">
    <div class="row car-info-tr">
      <div class="col car-info-tdata"> <b>Id:</b> <br> {{vm.CarInfoFirebaseService.carInfo.$id}}</div>
      <div class="col-10"></div>
      <div class="col car-info-tdata"> <b>Numero de llave:</b> <br> 00000</div>    
    </div>
    <div class="row car-info-tr">
      <div class="col car-info-tdata"> <b>Modelo:</b> <br> {{vm.CarInfoFirebaseService.carInfo.model}}</div>
      <div class="col-10"></div>
      <div class="col car-info-tdata"> <b>Color:</b> <br> {{vm.CarInfoFirebaseService.carInfo.color}}</div>    
    </div>
    <div class="row car-info-tr">
      <div class="col car-info-tdata"> <b>MVA:</b> <br> {{vm.CarInfoFirebaseService.carInfo.MVA}}</div>
      <div class="col-10"></div>
      <div class="col car-info-tdata"> <b>PSC:</b> <br> {{vm.CarInfoFirebaseService.carInfo.PSC}}</div>    
    </div>
  </div>
    <button class="button-primary btn-continue" type="submit" ng-click="vm.goToCarView()"> Continuar </button>
</div>
<div class="car-info-spinner background-car" ng-if="!vm.isLoaded">
  <ion-spinner icon="ripple"></ion-spinner>
</div>
