<div ng-if="vm.isLoaded">
  <div class="bar header-bar bar-assertive">
    <h1 class="title">Información del vehiculo</h1>
  </div>
  <ion-content>
    <div class="list  list-inset content has-header padding">
      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-grid-view"></i>
        Id
        <span class="item-note">
           {{vm.CarInfoFirebaseService.carInfo.$id}}
        </span>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-key"></i>
        Numero de llave
        <span class="item-note">
           {{vm.CarInfoFirebaseService.carInfo.key}}
        </span>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-model-s"></i>
        Modelo
        <span class="item-note">
          {{vm.CarInfoFirebaseService.carInfo.model}}
        </span>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-paintbucket"></i>
        Color
        <span class="item-note">
          {{vm.CarInfoFirebaseService.carInfo.color}}
        </span>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-information-circled"></i>
        MVA
        <span class="item-note">
          {{vm.CarInfoFirebaseService.carInfo.MVA}}
        </span>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-home"></i>
        PSC
        <span class="item-note">
          {{vm.CarInfoFirebaseService.carInfo.PSC}}
        </span>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-android-car"></i>
        Placa
        <span class="item-note">
          {{vm.CarInfoFirebaseService.carInfo.plate}}
        </span>
      </a>
    <button class="budget-orange-button button button-block button-assertive" type="submit" ng-click="!vm.goToCarView()"> Continuar </button>
    </div>
  </ion-content>
</div>

<div ng-if="!vm.isLoaded">
  <ion-content>
    <ion-spinner class="car-info-spinner" icon="ripple"></ion-spinner>
  </ion-content>
</div>
