<div class="bar header-bar bar-assertive">
  <h1 class="title">Partes del auto</h1>
</div>
<ion-content class="has-header">
  <div class="list-inset">
    <div class="checkbox-item has-header" ng-repeat="accesory in vm.accesories">
      <ion-checkbox ng-model="vm.items[accesory.key]"  name="group" id="{{accesory.id}}"> 
        <label class="checkbox-label" for="{{accesory.id}}">{{accesory.name}}</label>
      </ion-checkbox>
    </div>
    <button class="budget-orange-button button button-block button-assertive" ng-click="vm.goToEndOrFeedback()">Siguiente</button>
  </div>
</ion-content>
