<ion-view view-title="Entrega de vehículo">
  <div class="bar bar-subheader" id="subheader">
    <h2 class="title">Detalles de la entrega</h2>
  </div>
  <ion-content class="has-header has-subheader padding">
    <form name="carDeliveryInfo">
      <label class="item item-select item-icon-left">
        <i class="icon ion-home"></i>
        <div class="input-label">
          Lugar
        </div>
        <select id="deliveryPlace-select" class="item-energized" ng-options="deliveryPlace.name for deliveryPlace in vm.deliveryPlaces" ng-model="vm.deliveryInfo.deliveryPlaceSelected" required>
        </select>
      </label>
      <label class="item item-icon-left">
        <i class="icon ion-model-s"></i>
        <div class="input-label" id="km-label">
          Kilometraje
        </div>
        <span id="km-input-wrapper">
        <input type="number" id="km-input"  ng-model="vm.km" min="0" required> km
        </span>
      </label>
      <label class="item item-select item-icon-left">
        <i class="icon ion-speedometer"></i>
        <div class="input-label">
          Gasolina
        </div>
        <select ng-options="option.name for option in vm.gasLevels track by option.id" ng-model="vm.deliveryInfo.gasLevelSelected" required>
        </select>
      </label>
    </form>
    <div class="tabs button-container">
      <button class="button-positive button button-block" ng-disabled="carDeliveryInfo.$error.required" ng-click="vm.goToTireRevision()"> Continuar </button>
    </div>
  </ion-content>
</ion-view>
