<link href="styles/extraParts.css" rel="stylesheet">
<ion-nav-bar align-title="center" class ="bar-light">
  <ion-nav-title has-header="true">
    <img src='assets/images/budget_logo.png' height='35' class="budget-logo-bar"></img>
  </ion-nav-title>
</ion-nav-bar>
<div class ="body-wrapper">
  <p class="page-title">Extras</p>
  
    <div class = "checkboxes-wrapper">
      <section id="left-column">
      <span ng-repeat="accesory in ctrlEx.accesories1">
        <input type="checkbox" ng-model="ctrlEx.taken.ids[accesory.id]" name="group" id="{{accesory.id}}"> <label class="checkbox-label" for="{{accesory.id}}">{{accesory.name}}</label><br>
      </span>
      </section>
  
  <section id="right-column">
      <span ng-repeat="accesory in ctrlEx.accesories2">
        <input type="checkbox" ng-model="ctrlEx.taken.ids[accesory.id]" name="group" id="{{accesory.id}}"> <label class="checkbox-label" for="{{accesory.id}}">{{accesory.name}}</label><br>
      </span>
  </section>
  </div>


  <div class="button-container">
    <button class="button">Siguiente</button>
  </div>
</div>