<ion-view view-title="Partes del auto">
  <ion-content class="has-header list-inset content-wrapper-carParts">
    <div class="carParts-container">
      <div class="checkbox-item" ng-repeat="accesory in vm.parts">
        <ion-checkbox ng-model="vm.accesory[accesory.key]"  name="group" id="{{accesory.id}}">
          <label class="checkbox-label" for="{{accesory.id}}">{{accesory.name}}</label>
        </ion-checkbox>
      </div>
      <label class="item item-input item-select" ng-repeat="part in vm.countedParts">
        <div class="input-label">{{part.name}}</div>
        <select ng-model="vm.countedAccesory[part.key]">
          <option>1</option>
          <option>2</option>
        </select>
      </label>
    </div>
    <div class="tabs button-container button-container-carParts">
      <button class="button button-positive button-block" ng-click="vm.uploadCarParts()">Continuar</button>
    </div>
  </ion-content>
</ion-view>
