<ion-nav-bar align-title="center" class="marginTop">
<ion-nav-bar align-title="center">
 <ion-nav-title>
   <img src='assets/images/budget_logo.png' height='35' class="budget-logo-bar"/>
 </ion-nav-title>
</ion-nav-bar>
<div class="body-car-view">
  <div class="canvas-wrapper">
    <canvas id="canvas" ng-mousedown="downEvent($event)" resize="true" class="canvas"></canvas>
  </div>
  <div class="row wrapper-add-observation">
  	<div class='col'>
      <button class="button buttonObs" ng-click="showDialog(false)">Agregar Observación Interna</button>
    </div>
  </div>
  <ion-scroll zooming="false" direction="y" class="pad observation-wrapper">
     <ion-list show-delete="shouldShowDelete">
      <ion-item ng-repeat="item in observationHash" id="item.id" class="item-remove-animate">
        <p>{{item.part}} {{item.obs}}</p>
        <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item.id, item.circleID)"/>
      </ion-item>
    </ion-list>
  </ion-scroll>
    <div class="btn-continue-wrraper">
        <button class="button button-positive btn-continue" ng-click="goToExteriorParts()"> Continuar </button>
    </div>
</div>
