<div class="bar bar-header bar-light">
  <h1 class="title">Revision</h1>
  <button class="button">
  <p>Load</P>
</button>
</div>
<div>
  <canvas id="canvas" 
    ng-mousedown="downEvent($event)"
    on-touch="downEvent($event)"
    ng-mousemove="dragEvent($event)"
    on-drag="dragEvent($event)"
    ng-mouseup="upEvent($event)"
    on-release="upEvent($event)"
    resize="true"
    width=auto height=auto style="width:100%; height:100% background-size: contain;"  >
  </canvas>
</div>

<div>
 <ion-list show-delete="shouldShowDelete">
  <ion-item ng-repeat="item in observacionHash" id="item.id" class="item-remove-animate">
    <p>{{item.part}} {{item.obs}}</p>
    <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item.id, item.circleID)"/>
  </ion-item>
</ion-list>
</div>

<div class="row">
	<div class='col col-90'><button class="button  button-full button-dark" ng-click="showDialog()">Agregar Observacion</button></div>
	<div class='col'><button class="button button-clear button-large button-balanced"><i class="icon ion-ios-help"></i></button></div>
</div>
<div>
  <div class="row ">
  	<div class='col col-center'><button class="button button-balanced button-full" ng-click="pushtoDB()" >Aceptar</button></div>
  </div>
</div>





