<ion-nav-bar align-title="center" class ="bar-light">
  <ion-nav-title has-header="true">
    <img src='assets/images/budget_logo.png' height='35' class="budget-logo-bar"></img>
  </ion-nav-title>
</ion-nav-bar>
<div class ="body-wrapper">
  <h2 class="trunk-tittle">Partes de la cajuela</h2>
    <div class="checkboxes-wrapper">
      <label ng-repeat="accesory in vm.accesories">
        <input type="checkbox" ng-model="vm.taken.ids[accesory.id]" name="group" id="{{accesory.id}}"> 
        <label class="checkbox" for="{{accesory.id}}">
          {{accesory.name}}
        </label><br>
      </label>
    </div>
  <button class="button-primary button-finish-revision" ui-ref="login"> Terminar revisión </button>
</div>
